{% extends 'base.html' %}
<html>
<head>
   {% block body %}
   {% load static %}
   <title>Programming World - Support</title>
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
</head>
<body>
    <div class="container all">
        <h1>Support this Site</h1>
    <p>We provide you programming blog as well as news. If you want to contribute our by paiying a littel amount of money. That Motivate me to bring more good content.</p>
        <hr>
        <p>The Contributer get 24hrs support from me and you will get paid course that is made by me. I can discuss about your project too. There are many Support from me for contributer.</p>
        <div class="donate">
            <p>Support Me:</p>
            <p>Transfer amount on eSewa: 9818630213</p>
        </div>


        <p>If You cannot donate Us Then You can Help us by Subscribing Us on Youtube Channel.</p>
            <p>YouTube Channel Link</p>


    <div class="note container">
        <p>Note: Contribute a littel amount of Money.</p>
    </div>
        </div>
{% endblock %}
</body>
</html>
